@import '@styles/_colors.scss';
@import '@styles/_mixins.scss';

.post-title {
  &__title {
    margin: 0;
    font-size: 2em;
    letter-spacing: 0.01em;
  }

  &__written-in {
    display: block;
    margin-top: 0.4em;
    margin-left: 0.1em;
    font-size: 0.8em;
    color: $text200;
  }
}
