@import '@styles/_colors.scss';
@import '@styles/_mixins.scss';

.post-navigator {
  &__layout {
    display: flex;
    margin: 0.2em;
    justify-content: space-between;
  }

  &__top-line {
    width: 100%;
    background-color: #7a7673;
    height: 1px;
    opacity: 0.8;
    margin: 1em 0.2em;
  }
}
